<div id="map3d"></div>
<script type="text/javascript">
  var viewer = new Cesium.Viewer('map3d', {
    geocoder: false,
    homeButton: false,
    sceneModePicker: false,
    baseLayerPicker: false,
    navigationHelpButton: false,
    animation: false,
    timeline: false
  });

  drawLayer();
  
  function drawLayer(MPstring, APstring, CAstring, CDstring, FilterString) {
    // define / link 3-digit ZIP code KML
    if (MPstring && APstring && CAstring && CDstring && FilterString) {
      var temp = "http://<%= $serverURL %>:3000/variables/<%= params.has_key?(:colors_array) ? params[:colors_array] : "0" %>/get_map_KML_DB/" + MPstring + "/" + APstring + "/" + CAstring + "/" + CDstring + "/" + FilterString + "/";
      var USA_href = temp;
    } else {
      var USA_href = "http://<%= $serverURL %>:3000/variables/<%= params.has_key?(:colors_array) ? params[:colors_array] : "0" %>/get_map_KML_DB.kml";
    }
    alert('USA_href-----' + USA_href);
    viewer.dataSources.add(Cesium.KmlDataSource.load(USA_href), {
         camera: viewer.scene.camera,
         canvas: viewer.scene.canvas
     })
    .then(function(dataSource) {
        $.get(USA_href, function(data) {
            renderScreenOverlay(viewer, data);
        });
        alert('datasource----' + JSON.stringify(dataSource));
        cesium.camera.flyTo({
          destination : Cesium.Cartesian3.fromDegrees(-97.16, 36.71, 3600000.0)
        });
    });
  }
  // WebSocket Variables and Methods Hash
  var ws = new WebSocket('ws://<%= $serverURL %>:5555');
  var methods = {
    "updateMapKML" : updateMapKML,
    "statusMessage" : statusMessage // found in websockets.js
  };
  $(document).ready(function(){
    amplify.store.sessionStorage('screenID', 'screen1R');
    setupWebSocket();
  });
</script>