<div id="map3d"></div>
<script type="text/javascript">
  initViewer('map3d');

  // Set up Google Earth
  // setupGE();
  // Initialize map will be called after GE is ready...put anything here that you want to happen the first time the plugin loads
  function initializeMap() {
    // add controls (navigation / zoom)
    ge.getNavigationControl().setVisibility(ge.VISIBILITY_SHOW);
    drawLayer();
  }

  function drawLayer(MPstring, APstring, CAstring, CDstring, FilterString) {
    // define / link 3-digit ZIP code KML
    // var USA_link = ge.createLink('');
    if (MPstring && APstring && CAstring && CDstring && FilterString) {
      var temp = "http://<%= $serverURL %>:3000/variables/<%= params.has_key?(:colors_array) ? params[:colors_array] : "0" %>/get_map_KML_DB/" + MPstring + "/" + APstring + "/" + CAstring + "/" + CDstring + "/" + FilterString + "/";
      var USA_href = temp;
    } else {
      var USA_href = "http://<%= $serverURL %>:3000/variables/<%= params.has_key?(:colors_array) ? params[:colors_array] : "0" %>/get_map_KML_DB.kml";
    }

    // viewer.dataSources.add(Cesium.KmlDataSource.load(USA_href), {
    //      camera: viewer.scene.camera,
    //      canvas: viewer.scene.canvas
    //  })
    // .then(function(dataSource) {
    //     viewer.flyTo(dataSource.entities);
    //     $.get(USA_href, function(data) {
    //         renderScreenOverlay(data);
    //     });
    // });

    $.get(USA_href, function(data) {
        viewer.dataSources.add(Cesium.KmlDataSource.load(data), {
            camera: viewer.scene.camera,
            canvas: viewer.scene.canvas
        })
        .then(function(dataSource) {
            viewer.flyTo(dataSource.entities);
            renderScreenOverlay(data);
        });
    });
  }

  // WebSocket Variables and Methods Hash
  var ws = new WebSocket('ws://<%= $serverURL %>:5555');
  var methods = {
    "updateMapKML" : updateMapKML,
    "statusMessage" : statusMessage // found in websockets.js
  };

  $(document).ready(function(){
    amplify.store.sessionStorage('screenID', 'screen1R');
    setupWebSocket();
  });
</script>